/*
* Content Upload
*/

.u-btn {
  margin-top: 10px;
  background-color: $c-active;
  color: white;
  padding: 15px 65px;
  border: solid 1px $c-active;
  height: 48px;
  border-radius: 24px;
  font-weight: 500;
  &:hover {
    color: $c-active;
    background-color: $c-white;
  }
}

.upload-page {
  text-align: center;
  color: $c-light;
  .u-area {
    padding-top: 150px;
    padding-bottom: 150px;
    i {
      font-size: 144px;
      color: $c-icon;
    }
    .u-text1 {
      display: block;
      margin-top: 60px;
      margin-bottom: 0;
      font-size: $fs-md;
      color: $c-default;
    }
    .u-btn {
      margin-top: 60px;
      background-color: $c-active;
      color: white;
      padding: 15px 65px;
      border: solid 1px $c-active;
      height: 48px;
      border-radius: 24px;
      font-weight: 500;
      &:hover {
        color: $c-active;
        background-color: $c-white;
      }
    }
  }
  .u-terms {
    padding: 45px 0;
    a {
      color: $c-active;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 7px;
    }
  }

}

.edit-page {
  text-align: left;
  .u-details-wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px $c-divider;
    @media only screen and(max-width: 767px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  .u-details {
    .ud-caption {
      font-family: $ff-hind;
      font-weight: 500;
      padding-top: 25px;
      padding-bottom: 25px;
      color: $c-default;
      @media only screen and(max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    .imgplace{
      background-color: #8781bd;
      border-radius: 3px;
      width: 100%;
      height: 113px;
      @media only screen and(max-width: 767px) {
        height: 200px;
        margin-bottom: 15px;
      }
    }
    .u-title {
      color: $c-default;
      font-family: $ff-hind;
      font-weight: 500;
      padding-bottom: 4px;
    }
    .u-progress {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      .u-close {
        position: absolute;
        top: 2px;
        right: 21px;
        @media only screen and(max-width: 767px) {
          right: 0;
          top: -36px;
        }
        i {
          font-size: $fs-md;
        }
      }
      .progress {
        width: 90%;
        margin-bottom: 0;
        height: 8px;
        background-color: $c-divider;
        -webkit-box-shadow: none;
        box-shadow: none;
        @media only screen and(max-width: 767px) {
          width: 100%;
        }
        .progress-bar {
          background-color: $c-green-v;
          font-size: 8px;
          line-height: 8px;
          border-radius: 4px;
        }
      }
    }
  }
  .u-form {
    label {
      //margin-bottom: 10px;
      color: $c-default;
      font-weight: normal;
    }
    .form-group {
      @media only screen and(max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    .form-control {
      padding: 6px 12px;
      resize: none;
    }
    .u-category {
      color: #2e2e2e !important;
      padding-bottom: 6px;
    }
    input[type=checkbox] {
      height: 19px;
      width: 19px;
      margin: 0;
      margin-left: -35px;
    }
    .checkbox {
      margin-bottom: 17px;
      label {
        padding-left: 35px;
        color: $c-light;
      }
    }
  }
  .u-area {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 20px;
    .u-btn {
      margin-top: 0;
    }
  }
  .u-terms {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .upload-page {
    .u-area {
      padding-top: 90px;
      padding-bottom: 50px;
      &.mt-small {
        padding-top: 20px;
      }
      i {
        font-size: 80px;
      }
      .u-text1 {
        margin-top: 50px;
      }
      .u-btn {
        width: 100%;
        max-width: 280px;
        margin-top: 40px;
      }
    }
    .u-terms {
      padding: 30px 0 20px;
      margin: 0 auto;
      max-width: 340px;
    }
  }
}

/*
* Content Upload END
*/
