{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block body %}

    <h1>Politique de Cookies</h1>
    <h2>Introduction</h2>
    <p>Bienvenue sur Vide Grenier en Ligne (l'URL de votre site). Cette politique de cookies explique comment nous utilisons les cookies et technologies similaires sur notre site web. En utilisant notre site, vous acceptez l'utilisation de cookies conformément à cette politique.</p>
    <h2>Qu'est-ce qu'un cookie ?</h2>
    <p>Un cookie est un petit fichier texte envoyé à votre navigateur par un site web que vous visitez. Il aide le site à mémoriser des informations sur votre visite, comme votre langue de prédilection et d'autres paramètres. Cela peut faciliter votre prochaine visite et rendre le site plus utile pour vous.</p>
    <h2>Types de cookies que nous utilisons</h2>
    <h3>Cookies nécessaires</h3>
    <p>Ces cookies sont essentiels pour vous permettre de naviguer sur notre site et d'utiliser ses fonctionnalités. Sans ces cookies, les services que vous avez demandés, comme la mémorisation de vos articles proposés, ne peuvent pas être fournis.</p>
    <p>Finalité : Permettre aux utilisateurs de proposer des articles à donner.</p>
    <p>Durée : 1 mois</p>
    <p>Durée de stockage des cookies</p>
    <p>Les cookies nécessaires que nous utilisons sur notre site ont une durée de stockage de 1 mois.</p>
    <h2>Partage des cookies</h2>
    <p>Nous ne partageons pas les cookies avec des tiers. Les informations collectées par nos cookies ne sont pas transmises à d'autres entreprises ou organismes.</p>
    <h2>Consentement des utilisateurs</h2>
    <p>Étant donné que nous n'utilisons que des cookies nécessaires au bon fonctionnement du site et à la prestation des services que vous avez demandés, nous n'affichons pas de bannière de consentement spécifique pour les cookies. En utilisant notre site, vous consentez à l'utilisation des cookies nécessaires.</p>
    <h2>Vos choix concernant les cookies</h2>
    <p>Si vous souhaitez désactiver les cookies, vous pouvez le faire en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies nécessaires peut affecter la fonctionnalité de notre site web.</p>
    <h2>Contactez-nous</h2>
    <p>Si vous avez des questions concernant notre politique de cookies ou si vous souhaitez modifier vos préférences, veuillez nous contacter à l'adresse suivante :</p>
    <p>Email : allan.bouguerab@viacesi.fr</p>
    <h2>Modifications de cette politique</h2>
    <p>Nous nous réservons le droit de modifier cette politique de cookies à tout moment. Toute modification sera affichée sur cette page. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.</p>
    <p>Date de dernière mise à jour : 10/06/2024</p>
    
{% endblock %}


